html {
    background-color: pink;
}

#logo {
    font-family: futura; Helevetica neue;
    width: 100%; 
    height: 150px; 
    margin: 0 0 0% 0;
    border: 3px solid black;
    text-align: center;
    padding-top: 10%;

}


ul.menu { 
    font-family: futura;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
    outline: none;
}

#menubox {
    width: 200px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


a:link, a:visited {
    width: 200px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover, a:active {
    color: #FF119D;
    outline:none;
}

p {
    font-family: futura;
    font-size: 12px;
    color: gray;
    text-align: center;
    padding-top: 50px; 
    
}

.footerwh {
    padding-top: 100%;
    padding-bottom: 0%;
    font-family: futura;
    font-size: 12px;
    font-weight: bold;
    color: pink;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.leftsidebar {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100%;
    border: 10px;
    width: 25%;
    height: 100%;
    background: white;
    bottom: 100%;
    float: left;
}
   
.rightsidebar {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100%;
    border: 10px;
    width: 25%;
    height: 100%;
    background: white;
    bottom: 100%;
    float: right; 
    
}


.Welcome { 
    background: none;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
    color: #FF119D;
    font-family: futura;
    text-align: center;
}

a {
    font-family: futura;
    font-size: 15;
    text-align: center;
}

.abouttextright {
    
    float: right;
    text-align: right;
    margin-top: 300px;
    font-size: 20px;
    color: black;
    background: white;
}

.abouttextleft {

    text-align: right;
    margin-top: 200px;
    font-size: 50px;
    color: black;
    background: white;
    float: left;
}


.bodybox {
    
    padding: 20px 20px 20px 20px;
    width: 1000px;
    margin: 0 auto;
 
}
.boxes {
    background-color: aquamarine;
    
}

.clear-fix {
    clear: both;
}

a:link, a:visited {
    width: 100px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    outline: none;
    postion:absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover, a:active {
    color: #FF119D;
    outline:none;
}

#submitbutton {
 padding:5px;

}
h1 {
font-family: futura;
font-size: 30px;
text-align: center;
}

.formcolorz {
    width: 27%; 
    height: 500px; 
    float: left;
    color: aqua;
    margin: 0 0 0 0;
    border: 3px solid black;


}