.button {
    text-decoration: none;
	background:url(../img/arrow_right.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 40px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
    padding-top: 20px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    z-index:0;
	color: #000;
}

.codebtn {
    text-decoration: none;
	background:url(../img/code_icon_i.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 2px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
    margin-top: 10px;
	margin-right: 800px;
    width: 20px;
    height:  20px;
	color: #000;
	background-size: contain;
	clear:both;
}

p {
	width: 300px;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: lighter;

}

html {
  height: 100%;
  overflow: hidden;
}

body { 
    margin:0;
    padding:0;
    perspective: 1px;  perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: helvetica;
    color: white;
}

h1 {
   display: block;
   font-size: 250%;
   text-align: left;
   font-family: sans-serif;
   font-weight: 300;
   line-height: 1.2;
}


h2 {
   font-size: 150%;
   text-align: left;
   font-family: sans-serif;
   font-weight: 100;
   line-height: 1.0;
}

h3 {
   display: block;
   font-size: 170%;
   text-align: center;
   font-family: sans-serif;
   font-weight: 300;
   line-height: 1.2;
   margin-bottom: 40px;
}


.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
 postion:left;
 left-margin: 10px;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;

}

#title {
  background-color: #24A1FF;
  background-attachment: fixed;  
}

#project1:before {
	background-image: url(../img/project_02_weather.png);
	transform: translateZ(-1px) scale(2);
	z-index:-1;
	background-color: #FF7132;
}

#project2 {
	background-image: url(../img/project_02_doodle_desktop.png);
	background-attachment: fixed;
	
}

#project3:before {
	background-image: url(../img/project_02_doodle_desktop.png);
	transform: translateZ(-1px) scale(2);
	z-index:-1;
	background-color: #C87CE5;
}

#project4 {
	background-image: url(../img/project_02_doodle_desktop%20_star.png);
	background-color: #423DA5;
}
#project5 {
  background: #ED1544;
}

.formz {
    max-width: 500px;
    background: none;
    font: white;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    
}

.formbox {
    border: white, 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    font-color: white;

}

.name {
    width: 400px;
    background: none;
    border: white, 3px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-color: white;
    margin-bottom: 20px;
    font-family: sans-serif;   
}

input, textarea {
    position: relative;
    font-color: white;
    color: white;
    outline: none;
    border: 2px solid white;
    font-size: 16px;
    padding: 0.6rem;
    box-sizing: border-box;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

textarea {
    font-color: white;
}

button, input, select, textarea {
    vertical-align: baseline;
    margin: 0px;
    font-color: blue;
}

#email{
    width: 400px;
    background: none;
    border: white, 4px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-size: 18px;
    font-color: blue;
    font-family: helvetica;
    margin-bottom: 20px;
}
#email .placeholder {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: blue, 3px;
}

#message {
    width: 400px;
    background: transparent;
    border: white, 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    font-size: 18px;
    font-color: white;
    font-family: helvetica; 
}

input#button {
    background:url('../img/send-button.png');
    margin: 30px;
    width: 52px;
    height: 53px;
    text-indent: 50px;
    overflow: hidden;
    font-color: white;
    background-repeat: none;
    border: none;
}
input#button.button2 {
    background:url('../img/send-button2.png');
    
}

.godown {
    background-image:url('../img/go-down-01.png');
    width: 66px;
    height: 66px;
    background-repeat: none;
}

h2 a {
    color: black;
    text-decoration: none;
    font: bold;
    
}


h2 .contact {
    font-family: bold, sans-serif;
    font: black;  
}

ul.menu {  
    font-family: futura;
    font-size: 30px;
    list-style-type: none;
    overflow: hidden;
    padding-top: 10px;
    position: absolute;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

header {
    position: fixed; 
    z-index: 10; 
}

.formz {

  z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.chitchatbutton{

    position: relative;
    padding-top: 100px;
    margin-top: 50px;
    width: 400px;
    height: 300px;
    z-index:0;
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.navbutton{

    position: relative;
    padding-top: 100px;
    margin-top: 50px;
    width: 400px;
    height: 300px;
    z-index:0;
	list-style: none;
	text-decoration: none;
}
    

input#circlechat {

    background:url('../img/send-button.png');
    margin: 30px;
    width: 52px;
    height: 53px;
    text-indent: 50px;
    overflow: hidden;
    font-color: white;
    background-repeat: none;
    border: none;
    z-index:0;
}
    
@media only screen and (max-width: 900px) {
	#message {
		width: 300px;
		background: transparent;
		border: white, 5px;
		margin-left: auto;
		margin-right: auto;
		height: 100px;
		font-size: 18px;
		font-color: white;
		font-family: helvetica; 
}
	.chitchatbutton {
    position: relative;
    padding-top: 100px;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    z-index:0;
	list-style: none;
}
	#email{
    width: 300px;
    background: none;
    border: white, 4px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-size: 18px;
    font-color: blue;
    font-family: helvetica;
    margin-bottom: 20px;
}
	.name {
    width: 300px;
    background: none;
    border: white, 3px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-color: white;
    margin-bottom: 20px;
    font-family: sans-serif;   
}
	.formz {
    max-width: 300px;
    background: none;
    font: white;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    
}
	
  #project1:before {
  background-image: url(../img/project_02_weathermobile.png);
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
	h1 {
   display: none;
}
	
	p{
   display: none;
}
	
#project3:before {
  background-image: url(../img/project_02_doggy.png);
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
#project4 {
	background-image: url(../img/project_02_calc.png);
}

}




