html {
    background-color: none;
}

#logo {
    font-family: futura; Helevetica neue;
    font-size: 20px;
    width: 100px;
    color: white;
    text-align: left;
    background: none;
    outline: none;
    padding: 5px;
    padding-top: 100%;
   
}

ul.menu {  
    font-family: futura;
    font-size: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 200px;
    outline: none;
    li { cursor: pointer; cursor:  url(../img/cand-01.png); }
}

.one {
    width: 100px;
    text-align: center;
    height: 100px;
    padding-left: 100px;
    padding-right: 250px;
    margin-left: 400px;
    background: none;

    text-align: center;
    float: center;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.one:hover {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(380deg); /* Safari */
    transform: rotate(-380deg);
}
.two {
    
    width: 100px;
    height: 100px;
    padding-left: 100px;
    padding-right: 250px;
    background: none;
    margin-left: 400px;
    text-align: center;
    float: center;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.two:hover {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(380deg); /* Safari */
    transform: rotate(380deg);
}

.three {
    width: 100px;
    height: 100px;
   padding-left: 100px;
    padding-right: 250px;
    margin-left: 400px;
    background: none;
    text-align: center;
    float: center;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.three:hover {
    width: 100px;
    height: 1200px;
    -webkit-transform: rotate(380deg); /* Safari */
    transform: rotate(380deg);
}


a:link, a:visited {
    width: 900px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover, a:active {
    color: #FF119D;
    outline:none;
}


p {
    font-family: futura;
    font-size: 12px;
    color: gray;
    text-align: center;
    padding-top: 50px; 
    
}

footer {
    padding: 150px;
    font-family: futura;
    font-size: 12px;
    color: gray; 
    font-weight: bold;
    color: black;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 .cute {
    background: url(../img/cand-01.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: none;
	margin-left: 200px;

	z-index:50;
	overflow:hidden;
     position: absolute;
     padding-left: 100px;
     padding-right: 100px;
     
}

.cute:hover {
    transform: rotate(180deg);
	-webkit-transform: rotate(500deg);
        -moz-transform: rotate(50deg);
	transition: transform 5s  ease-out;
	-webkit-transition: -webkit-transform 5s ease-out;
        -moz-transition: -moz-transform 5s ease-out;
}

.leftsidebar {
    padding-left: 60px;
    padding-right: 60px;
    border: 10px;
    width: 250px;
    height: 100%;
    background: white;
    bottom:0%;
    float: left;
}

