body {
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    position: absolute;
    background: url(../img/bio_background.jpg);
    background-repeat: no-repeat;
    
}


.about {
    padding-left: 60px;
    padding-right: 60px;
    border: 10px;
    width: 250px;
    height: 100%;
    background: white;
    bottom:0%;
    
    float: right;
    
   
}

.abouttitle {
    
    padding-left: 400px;
    padding-right: 50px;
    border: 10px, 10px, 10px 10px;
    float: left;
    background: noe;
    margin-left: auto;
    font-size: 80px;
    color: #FF119D;
    font-family: futura;
    position: absolute;
    -webkit-animation: mymove 50s;  /* Chrome, Safari, Opera */
    animation: mymove 50s;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Chrome, Safari, Opera */
#div2 {-webkit-animation-timing-function: ease;}

/* Standard syntax */
#div2 {animation-timing-function: ease;}




/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

    
    
    
    
    

.abouttext {
    float: right;
    text-align: right;
    margin-top: 300px;
    font-size: 20px;
    color: black;
    background:white;
   

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    font-family: futura;
    font-size: 15;
    text-align: center;
}
