
html {
	background-color:black;
	background: url(../img/) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	overflow:hidden;	
	background-color: #363637;	
	width: 20%;
	height: 50%;
}

 #displayweather {
	width: 400px;
	height: 700px;
	margin-right: 5%;
	margin-left: 2%;
	clear: left;
	position: absolute;
	border-radius: 15px;
}

div.displayweather {
    background-color: #147BF7;
}

#date {
	font-family: sans-serif;
	font-size: 14px;
	color: #147BF7;
}

#fnumber {
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 50px;
	padding-top: 20%;
	margin-top: 10%;
	margin-left: 50px;
	margin-right: 50px;
	text-align: right;
	width: 300px;
	height: 200px;
	background-color: transparent;
	float: right;
}

.letter {
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	padding-right: 17px;
	font-weight: lighter;
}

.weekday {
	float:left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 0%;
	padding-left: 5%;
	clear:both;
	text-align: center;
	font-weight: bold;
	background-color: #137AF8;
	bottom: 0px;
}

#mainIcon div {
	margin-top: 10%;
	margin-left: 180px;
	width: 100px;
	height: 100px;
	background-color:transparent;
	background-repeat: no-repeat;
	padding-left: 40px;
	float: right;
	
}

.forecastTemps {
	margin-left: 20px;
	width: 350px;
	padding-left: 10px;
}

#cityName {
	font-family: sans-serif;
	font-weight: medium;
	font-size: 35px;
	padding-top: 10px;
	padding-bottom: 5%;
	text-align: left;
	padding-left: 10px;
	margin-left: 25px;
	color:white;
	float: left;
	position: absolute;
	width: 100px;
	height: 100px;
}

#forecast {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 30px;
	padding-top: 160px;
	padding-bottom: 3%;
	text-align: left;
	margin-left: 25px;
	padding-left: 10px;
	color: white;
	width: 300px;
	height: 200px;
	position: fixed;
}

#date {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;	
	color: #147BF7;
}

#zipBox {
	padding-left: 20%;
	font-family: sans-serif;
	color: #147BF7;
}

#button {
	border-style: none;
	font-size: none;
	border-radius: none;
	font-size: none;
	padding: none;
	text-align: center;
	width: 205px;
	height: 40px;
}

.sendbutton {
	padding-top: 10px;
	padding-left: 20%;	
}

input, textarea {
	position: relative;
	text-align: center;
	outline: none;
	border: 0px solid;
	font-size: 16px;
	padding: 0.6rem;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 2px; 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	color: aliceblue;	
}

#weathericons {
	float:left;
	padding-top: 1%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
	clear:both;
	text-align: center;
	font-weight: bold;
	background-color: none;
	width: 400px;
	bottom: 0px;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
}

.weather-icons {
	color: #147BF7;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
	padding-right: 12px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: contain;
}

.icon-01d { /*clear*/
	background-image: url("../img/01d.png");
}

.icon-02d { /*few clouds*/
	background-image: url("../img/02d.png");
}

.icon-03d {
	background-image: url("../img/03d.png");
}

.icon-04d {
	background-image: url("../img/04d.png");
}

.icon-09d {
	background-image: url("../img/09d.png");
}

.icon-10d {
	background-image: url("../img/10d.png");
}

.icon-11d {
	background-image: url("../img/11d.png");
}

.icon-13d {
	background-image: url("../img/13d.png");
}

.icon-50d {
	background-image: url("../img/50d.png");
}

/* night */
.icon-01n {
	background-image: url("../img/01n.png");
}

.icon-02n {
	background-image: url("../img/02n.png");
}

.icon-03n {
	background-image: url("../img/03n.png");
}

.icon-04n {
	background-image: url("../img/04n.png");
}

.icon-09n {
	background-image: url("../img/09n.png");
}

.icon-10n {
	background-image: url("../img/10n.png");
}

.icon-11n {
	background-image: url("../img/11n.png");
}

.icon-13n {
	background-image: url("../img/13n.png");
}

.icon-50n {
	background-image: url("../img/50n.png");
}

.icon-50d {
	background-image: url("../img/50d.png");
}



.button {
    text-decoration: none;
	background:url(../img/arrow-01.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 40px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
    margin-top: 750px;
    width: 100px;
    height: 50px;
    z-index:0;
	color: #000;
	opacity: 50%;
}

.codebtn {
    text-decoration: none;
	background:url(../img/code_icon_i.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 40px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
    margin-top: 750px;
    width: 100px;
    height: 50px;
    z-index:0;
	color: #000;
	opacity: 50%;
	background-size: contain;
}



@media screen and (min-width: 980px) {

	#displayweather {
	width: 100%;
	height: 750px;
	left:20%;
}
	
	.button {
    text-decoration: none;
	background:url(../img/arrow-01.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 10px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
    margin-top: 20px;
    width: 30px;
    height: 50px;
    z-index:0;
	color: #000;
}
	#fnumber {
	clear: all;
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 100px;
	padding-top: 0px;
	padding-right: 5%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: right;
	width: 300px;
	height: 180px;
	background-color: transparent;
	float: right;
}
}


@media screen and (min-width: 600px) {

	#displayweather {
	position:absolute;
	width: 600px;
	height: 750px;
	left:50%;
	margin:40px 0 0 100px;
}
	
	.button {
    text-decoration: none;
	background:url(../img/arrow-01.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 10px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
    margin-top: 20px;
    width: 30px;
    height: 50px;
    z-index:0;
	color: #000;
}
	#fnumber {
	clear: all;
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 100px;
	padding-top: 0px;
	padding-right: 5%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: right;
	width: 300px;
	height: 180px;
	background-color: transparent;
	float: right;
}
}
/*Desktop */
@media screen and (min-width: 500px) {

	#displayweather {
	position:absolute;
	width: 900px;
	height: 650px;
;
	margin:70px 0 0 100px;
	}
		div.displayweather {
    width:100%;
			float:left;
}

	#zipBox {
	float: right;
	font-family: sans-serif;
	color: #147BF7;
}

#fnumber {
	clear: all;
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 100px;
	padding-top: 0px;
	padding-right: 5%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: right;
	width: 300px;
	height: 100px;
	background-color: transparent;
	float: right;
}

#temps { 
	float: left;
	width: 900px;
	padding-left: 20px;
}

.letter {
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	padding-right: 10px;
	font-weight: lighter;
}
	
#weathericons {
	float:left;
	padding-top: 1%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 50px;
	clear:both;
	text-align: center;
	font-weight: bold;
	background-color: none;
	width: 900px;
	bottom: 0px;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;

}
	.weather-icons {
	color: #147BF7;
	text-align: center;
	padding-right: 15.5%;
	background-repeat: no-repeat;
	width: 50px;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: contain;
}
	
#forecast {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 30px;
	padding-top: 160px;
	padding-bottom: 3%;
	text-align: left;
	margin-left: 19px;
	padding-left: 10px;
	color: white;
	width: 300px;
	height: 500px;
	position: fixed;	
}
	
	.weekday {
	float:left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 0%;
	padding-left: 2%;
	clear:both;
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	background-color: #147BF7;
	bottom: 0px;
	margin-top: 10%;
}
	#mainIcon div {
	position: absolute;
	clear: all;
	margin-right: 40%;
	margin-left: 45%;
	padding-left: 10px;
	top: 10%;
	text-align: center;
	width: 200px;
	height: 200px;
	background-color:transparent;
	background-repeat: no-repeat;
}

	#cityName {
	font-family: sans-serif;
	font-weight: medium;
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 5%;
	text-align: left;
	padding-left: 10px;
	margin-left: 25px;
	color:white;
	float: left;
	position: absolute;
	width: 300px;
	height: 100px;
}
	
	.button {
    text-decoration: none;
	background:url(../img/arrow-01.png) no-repeat;
    border: none;
	outline: none;
	float: left;
	padding-top: 40px;
	padding: 8px 8px 8px 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
    padding-top: 20px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    z-index:0;
	color: #000;
}
}