html {

	background-color: #0B7BCE;
	
} 

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{

#button {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
	
#credit {
	margin-top: 40px;
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	margin-bottom: 20px; 
	font-size: 12px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

#image {
    display:block;
    background-image:url(../img/welcome_weather.png);
    background-repeat:no-repeat;
	margin-top: 10px;
    width: 100%;
	height: 50%;
	background-size: contain;
	text-align: center;
	margin: 5px 5px 5px 5px;
}


h1 {
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 40px;
	text-align: center;
}

p {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 28px;
	text-align: center;
	padding: 10px;
	color: white;
}

#box {
	width: 100%;
    height: 50%;
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#displayweather {
	width: 100%;
	height: 100%;
	margin-top: 5px;
	background-color: #0B7BCE;
	text-align: center;
	border-radius: 5px;
}

#zipBox {
	margin-top: 2px;
	font-family: sans-serif;
	display: table;
    width: 50%;
    margin: 0 auto;
}

#button {
	display:block;
	color:  #0B7BCE;
	background-repeat:no-repeat;
	width: 50%;
	height: 40px;
	background-size: contain;
	display: table;
	margin: 0 auto;
	background-color: #50A8FF;
	border: none;
	border-radius: 5px;
}


.sendbutton {
	padding-top: 10px;
	margin-bottom: 30px;
	display: table;
    width: 50%;
    margin: 0 auto;
}

input, textarea {
	position: relative;
	text-align: center;
	font-color: #9AC4E1;
	color: dimgray;
	outline: none;
	border: 2px solid gray;
	border-radius: 8px;
	font-size: 16px;
	padding: 0.6rem;
	box-sizing: border-box;
	border: none;	
}
}







