
html {

	background-color: #0B7BCE;
	
} 

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{



#displayweather {
	width: 90%;
	height: 500%;
	margin-right: 5%;
	margin-left: 5%;
	position: absolute;
	clear: left;
	border-radius: 15px;
}

div.displayweather {
    background-color: #0B7BCE;
}

#fnumber {
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 230%;
    padding-bottom: 31px;
    /* margin-top: 10%; */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    text-align: right;
     width: 30%; */
     height: 30%; */
    background-color: transparent;
    float: right;
}

#mainIcon div {
    margin-top: 60px;
    margin-left: 180px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    /* padding-left: 40px; */
    float: right;
}

#cityName {
	font-family: sans-serif;
	font-weight: medium;
	font-size: 35px;
	padding-top: 10px;
	padding-bottom: 5%;
	text-align: left;
	padding-left: 10px;
	margin-left: 25px;
	color:white;
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}

#forecast {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 30px;
    padding-top: 53px;
    padding-bottom: 3%;
    text-align: left;
    margin-left: 25px;
    padding-left: 10px;
    color: white;
    width: 100%;
    height: 5%;
  
}

#zipBox {
	padding-left: 20%;
	font-family: sans-serif;
	color: #0B7BCE;
}

#button {
	border-style: none;
	font-size: none;
	border-radius: none;
	font-size: none;
	padding: none;
	text-align: center;
	width: 205px;
	height: 40px;
}

input, textarea, name {
	position: relative;
	text-align: center;
	outline: none;
	border: 0px solid;
	font-size: 16px;
	padding: 0.6rem;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 2px; 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	color: white;	
}

.letter {
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: lighter;
}

table {
	width: 100%;
	height: auto;
	/* padding-top: 15%; */
}

td {
	text-align: center;
	vertical-align: middle;
}

.weekday {
	width: 100%;
	clear:both;
	text-align: center;
	bottom: 0px;
	float: none;
	padding: 0;
	font-weight: bold;

}

#weathericons {
    /* clear: both; */
    /* width: 400px; */
    /* bottom: 0px; */
    /* float: none; */
    /* padding: 0; */
    /* font-weight: bold; */
    /* background-size: contain; */
}

    /* text-align: center; */
    /* padding-right: 12px; */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative; */
    /* color: black; */
    /* font-family: sans-serif; */
    /* font-size: 20px; */
    /* padding-left: 10%; */
    /* background-size: contain; */


.forecastTemps {
	margin: 0;
	width: auto;
	padding-left: 2%;
}

.icon-01d { /*clear*/
	background-image: url("../img/01d.png");
}

.icon-02d { /*few clouds*/
	background-image: url("../img/02d.png");
}

.icon-03d {
	background-image: url("../img/03d.png");
}

.icon-04d {
	background-image: url("../img/04d.png");
}

.icon-09d {
	background-image: url("../img/09d.png");
}

.icon-10d {
	background-image: url("../img/10d.png");
}

.icon-11d {
	background-image: url("../img/11d.png");
}

.icon-13d {
	background-image: url("../img/13d.png");
}

.icon-50d {
	background-image: url("../img/50d.png");
}

/* night */
.icon-01n {
	background-image: url("../img/01n.png");
}

.icon-02n {
	background-image: url("../img/02n.png");
}

.icon-03n {
	background-image: url("../img/03n.png");
}

.icon-04n {
	background-image: url("../img/04n.png");
}

.icon-09n {
	background-image: url("../img/09n.png");
}

.icon-10n {
	background-image: url("../img/10n.png");
}

.icon-11n {
	background-image: url("../img/11n.png");
}

.icon-13n {
	background-image: url("../img/13n.png");
}

.icon-50n {
	background-image: url("../img/50n.png");
}

.icon-50d {
	background-image: url("../img/50d.png");
}

img {
    width: 70%;
    /* height: 100%; */
    text-align: center;
    /* padding-right: 100px; */
    background-size: contain;
}	
	
}